@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

html { width: 100%; height:100%;  }

body { 
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: url(../images/phoneBookBackground.png) no-repeat center center fixed;*/
    /*background: #092756;*/
    background-image: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    background-image: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background-image: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background-image: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    background-image: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);	
}

/*************
  Black Ice Theme (by thezoggy)
 *************/
/* overall */
.tablesorter-blackice {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font: 18px/18px Arial, Sans-serif;
    align-self: center;
    text-align: center;
    vertical-align: central;
    background-color: #000;
    border-collapse: collapse;
    border-spacing: 0;
}

/* header */

.headerNav {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.tablesorter-blackice th,
.tablesorter-blackice thead td  {
    padding: 4px;
    font: 18px/20px Arial, Sans-serif;
    align-self: center;
    font-weight: bold;
    color: #e5e5e5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    background-color: #111;
    border: 1px solid #232323;
}

td {
    padding: 4px 4px 4px 4px;
}

.tablesorter-blackice .header,
.tablesorter-blackice .tablesorter-header {
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    color:#406AAD;
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
}
.tablesorter-blackice .headerSortUp,
.tablesorter-blackice .tablesorter-headerSortUp,
.tablesorter-blackice .tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
    color: #6eb6de;
}
.tablesorter-blackice .headerSortDown,
.tablesorter-blackice .tablesorter-headerSortDown,
.tablesorter-blackice .tablesorter-headerDesc {
    color: #6eb6de;
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-blackice thead .sorter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

/* tfoot */
.tablesorter-blackice tfoot .tablesorter-headerSortUp,
.tablesorter-blackice tfoot .tablesorter-headerSortDown,
.tablesorter-blackice tfoot .tablesorter-headerAsc,
.tablesorter-blackice tfoot .tablesorter-headerDesc {
    /* remove sort arrows from footer */
    background-image: none;
}

/* tbody */
.tablesorter-blackice td {
    /*	padding: 4px;*/
    color: #ccc;
    /*	vertical-align: top;*/
    background-color: #333;
    border: 1px solid #232323;
}

/* hovered row colors */
.tablesorter-blackice tbody > tr.hover > td,
.tablesorter-blackice tbody > tr:hover > td,
.tablesorter-blackice tbody > tr.even:hover > td,
.tablesorter-blackice tbody > tr.odd:hover > td {
    background-color: #000;
}

/* table processing indicator */
.tablesorter-blackice .tablesorter-processing {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    /* background-image: url(images/loading.gif) !important; */
    background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-blackice tr.odd > td {
    background-color: #333;
}
.tablesorter-blackice tr.even > td {
    background-color: #393939;
}

/* Column Widget - column sort colors */
.tablesorter-blackice td.primary,
.tablesorter-blackice tr.odd td.primary {
    background-color: #fff;
}
.tablesorter-blackice tr.even td.primary {
    background-color: #3f4a50;
}
.tablesorter-blackice td.secondary,
.tablesorter-blackice tr.odd td.secondary {
    background-color: #3f4a50;
}
.tablesorter-blackice tr.even td.secondary {
    background-color: #4f5a60;
}
.tablesorter-blackice td.tertiary,
.tablesorter-blackice tr.odd td.tertiary {
    background-color: #4f5a60;
}
.tablesorter-blackice tr.even td.tertiary {
    background-color: #5a646b;
}

/* caption */
caption {
    background-color: #fff;
}

/* filter widget */
.tablesorter-blackice .tablesorter-filter-row {
    background-color: #222;
}
.tablesorter-blackice .tablesorter-filter-row td {
    background-color: #222;
    line-height: normal;
    text-align: center; /* center the input */
    -webkit-transition: line-height 0.1s ease;
    -moz-transition: line-height 0.1s ease;
    -o-transition: line-height 0.1s ease;
    transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-blackice .tablesorter-filter-row .disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
    cursor: not-allowed;
}
/* hidden filter row */
.tablesorter-blackice .tablesorter-filter-row.hideme td {
    /*** *********************************************** ***/
    /*** change this padding to modify the thickness     ***/
    /*** of the closed filter row (height = padding x 2) ***/
    padding: 2px;
    /*** *********************************************** ***/
    margin: 0;
    line-height: 0;
    cursor: pointer;
}
.tablesorter-blackice .tablesorter-filter-row.hideme * {
    height: 1px;
    min-height: 0;
    border: 0;
    padding: 0;
    margin: 0;
    /* don't use visibility: hidden because it disables tabbing */
    opacity: 0;
    filter: alpha(opacity=0);
}
/* filters */
.tablesorter-blackice input.tablesorter-filter,
.tablesorter-blackice select.tablesorter-filter {
    width: 98%;
    height: auto;
    margin: 0;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #bbb;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height 0.1s ease;
    -moz-transition: height 0.1s ease;
    -o-transition: height 0.1s ease;
    transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
    display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}

::-webkit-input-placeholder {
    color:#406AAD;
}

::-moz-placeholder {
    color:#406AAD;
}

::-ms-placeholder {
    color:#406AAD;
}

::placeholder {
    color:#406AAD;
}
